{% extends 'base.html' %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}

<div class="container grid text-center">
    <div class=" col-md-8 col-md-10 mx-auto">

        <div class="mt-3" id="poll">
            <!-- Content goes directly underneath this -->
            <div class="row justify-content-center">
                <h2>{{ question.question_text }}</h2>
                <br>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            </div>
            <div class="mt-3" id="poll">
                <form action="{% url 'poll:vote' question.id %}" method="post">
                    {% csrf_token %}
                    {% for choice in question.choice_set.all %}
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                    {% endfor %}
                    <div class="text-end mt-3"><input type="submit" value="Vote">
                </form>
            </div>

            {% endblock content %}