<footer>
    <div class="container-fluid mt-2">
        <ul class="list-inline d-flex flex-wrap justify-content-between align-items-center">
            <li class="list-inline-item">
                <a href="" target="_blank" rel="noopener"
                    aria-label="visit the website developer's github page (opens in a new tab)">
                    <i class="fa-brands fa-github fa-2x"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="{https://www.termsfeed.com/live/85de07aa-71ac-4db3-84e8-d53e6328b6a7}"
                    aria-label="click here to go to our privacy policy" role="button" class="p-sm-2">
                    <i class="fa-solid fa-shield-halved d-none d-sm-inline mr-1"></i> Privacy Policy
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                    aria-label="click here to visit our facebook page (opens in a new tab)">
                    <i class="fa-brands fa-facebook fa-2x"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="" role="button" class="btn btn-newsletter btn-md-lg rounded-0">
                    <i class="fa-solid fa-envelope d-none d-sm-inline"></i>
                    <span class="d-sm-none">Newsletter</span>
                    <span class="d-none d-sm-inline">Stay connected</span>
                    <span class="d-none d-sm-inline">Subscribe to Newsletter</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="footer-bottom center">
        <p>Bespoke Equestrian</p>
    </div>
</footer>