{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container grid text-center" id="contact">
    <div class="row">
        <div class=" col-md-8 col-md-10 mx-auto">
            <h2>Contact Us</h2>
        </div>

        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <form method="post" style="margin-top: 1.3em;">
                    <form class="row g-3  col-md-6">
                        {{ contact | crispy }}
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
            </div>
        </div>
    </div>
    {% endblock %}